<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat</title>
    <script src="bower_components/angularjs/angular.min.js"></script>
</head>
<body>

    <div ng-app="" ng-init="arr=[2,5,4,6,9,1,3]">
        <ul>
            <li ng-repeat="el in arr">{{el}}</li>
        </ul>

        <div ng-init="fruits=[{flavor: 'apple', price: 50},
        {flavor: 'lime', price: 80},
        {flavor: 'orange', price: 50},
        {flavor: 'lemon', price: 75},
        {flavor: 'strawberry', price: 90},
        {flavor: 'pineapple', price: 100}
        ]">
            <ul>
                <li ng-repeat="el in fruits | orderBy:'flavor'">{{el.flavor + ', ' + el.price + ' cents'}}</li>
            </ul>
            <ul>
                <li ng-repeat="el in fruits | orderBy:'-price'">{{el.flavor}} {{el.price | currency}}</li>
            </ul>
        </div>
    </div>

</body>
</html>